CRM entry
{
    "name": "CRM Entry",
    "flow": [
        {
            "id": 1,
            "module": "typeform:WatchEventsWithResponses",
            "version": 2,
            "parameters": {
                "__IMTHOOK__": 1954063
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -263,
                    "y": -11
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Form submitted"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:typeform",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "form_id",
                        "type": "text",
                        "label": "Form ID"
                    },
                    {
                        "name": "event",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            }
                        ],
                        "type": "collection",
                        "label": "Event"
                    },
                    {
                        "name": "token",
                        "type": "text",
                        "label": "Token"
                    },
                    {
                        "name": "submitted_at",
                        "type": "date",
                        "label": "Submitted at"
                    },
                    {
                        "name": "landed_at",
                        "type": "date",
                        "label": "Landed at"
                    },
                    {
                        "name": "calculated",
                        "spec": [
                            {
                                "name": "score",
                                "type": "number",
                                "label": "Score"
                            }
                        ],
                        "type": "collection",
                        "label": "Calculated"
                    },
                    {
                        "name": "definition",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "fields",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "title",
                                            "type": "text",
                                            "label": "Title"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "ref",
                                            "type": "text",
                                            "label": "Internal Name"
                                        },
                                        {
                                            "name": "allow_multiple_selections",
                                            "type": "boolean",
                                            "label": "Allow Multiple Selections"
                                        },
                                        {
                                            "name": "allow_other_choice",
                                            "type": "boolean",
                                            "label": "Allow Other Choice"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Fields"
                            }
                        ],
                        "type": "collection",
                        "label": "Definition"
                    },
                    {
                        "name": "answers",
                        "spec": [
                            {
                                "name": "field",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "ref",
                                        "type": "text",
                                        "label": "Internal Name"
                                    }
                                ],
                                "type": "collection",
                                "label": "Field"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "boolean",
                                "type": "boolean",
                                "label": "Boolean"
                            },
                            {
                                "name": "number",
                                "type": "number",
                                "label": "Number"
                            },
                            {
                                "name": "date",
                                "type": "date",
                                "label": "Date"
                            },
                            {
                                "name": "long_text",
                                "type": "text",
                                "label": "Long Text"
                            },
                            {
                                "name": "short_text",
                                "type": "text",
                                "label": "Short Text"
                            },
                            {
                                "name": "file_url",
                                "type": "url",
                                "label": "File URL"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "phone_number",
                                "type": "text",
                                "label": "Phone Number"
                            },
                            {
                                "name": "choice",
                                "spec": [
                                    {
                                        "name": "label",
                                        "type": "text",
                                        "label": "Label"
                                    },
                                    {
                                        "name": "other",
                                        "type": "text",
                                        "label": "Other"
                                    }
                                ],
                                "type": "collection",
                                "label": "Choice"
                            },
                            {
                                "name": "choices",
                                "spec": [
                                    {
                                        "name": "labels",
                                        "spec": {
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Labels"
                                    }
                                ],
                                "type": "collection",
                                "label": "Choices"
                            }
                        ],
                        "type": "array",
                        "label": "Answers"
                    },
                    {
                        "name": "mappable_answers",
                        "spec": [
                            {
                                "name": "01JETJH4RG2BS047GC207W48ZZ",
                                "type": "text",
                                "label": "How can i help you today?"
                            },
                            {
                                "name": "815f8cc2-7c02-4f7c-ab58-46ce529c8630",
                                "type": "text",
                                "label": "How can we get in contact with you\nlet us know"
                            }
                        ],
                        "type": "collection",
                        "label": "Mappable Answers"
                    },
                    {
                        "name": "hidden",
                        "spec": [
                            {
                                "name": "utm_source",
                                "type": "any",
                                "label": "utm_source"
                            }
                        ],
                        "type": "collection",
                        "label": "Hidden"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "clickup:createTaskInList",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 3765853
            },
            "mapper": {
                "name": "{{1.mappable_answers.`815f8cc2-7c02-4f7c-ab58-46ce529c8630`}}\n{{space}}\n{{1.mappable_answers.`476f0bf1-ed79-4708-b785-b088e4af1552`}}\n",
                "list_id": "901206529193",
                "team_id": "9012609129",
                "space_id": "90122443431",
                "folder_id": "folderlessList",
                "notify_all": false,
                "custom_fields": {
                    "0bcea456-6141-4c54-b7ad-fe40c8b8e540": "{{1.mappable_answers.`bd5d1091-a5a5-4466-8db7-c0e25abaf05b`}}",
                    "7ad9b363-c0c7-4ca3-b089-99f72afa5195": "{{1.mappable_answers.`88bccd1f-48dc-4553-84ed-fdc76ced6ae0`}}",
                    "d06970bb-6493-47f6-bea8-b93294eedf0f": "0385d276-f481-4bc4-8f61-b7c6208c780c",
                    "f9e804db-5a42-42b9-95cb-21cf9187af7a": "{{1.mappable_answers.`2c10365d-e47a-46c7-82d0-110802ffedad`}}"
                },
                "due_date_time": false,
                "start_date_time": false
            },
            "metadata": {
                "designer": {
                    "x": -3,
                    "y": -6
                },
                "restore": {
                    "expect": {
                        "tags": {
                            "mode": "chose"
                        },
                        "status": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "list_id": {
                            "label": "Leads [Tasks: 1]"
                        },
                        "team_id": {
                            "label": "Maigida Workspace"
                        },
                        "priority": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "space_id": {
                            "label": "Crm Process"
                        },
                        "assignees": {
                            "mode": "chose"
                        },
                        "folder_id": {
                            "label": "<Folderless Lists>"
                        },
                        "notify_all": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "Plain Text"
                        },
                        "custom_fields": {
                            "nested": {
                                "d06970bb-6493-47f6-bea8-b93294eedf0f": {
                                    "mode": "chose",
                                    "label": "Captive"
                                }
                            }
                        },
                        "due_date_time": {
                            "mode": "chose"
                        },
                        "parent_task_id": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "start_date_time": {
                            "mode": "chose"
                        },
                        "time_estimate_in": {
                            "label": "Empty"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "clickup2"
                            },
                            "label": "My ClickUp connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:clickup2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "team_id",
                        "type": "select",
                        "label": "Workspace",
                        "required": true
                    },
                    {
                        "name": "space_id",
                        "type": "select",
                        "label": "Space",
                        "required": true
                    },
                    {
                        "name": "folder_id",
                        "type": "select",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "list_id",
                        "type": "select",
                        "label": "List",
                        "required": true
                    },
                    {
                        "name": "parent_task_id",
                        "type": "select",
                        "label": "Parent Task ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Task Name",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "validate": {
                            "enum": [
                                "markdown"
                            ]
                        }
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "assignees",
                        "type": "select",
                        "label": "Assignees",
                        "multiple": true
                    },
                    {
                        "name": "tags",
                        "type": "select",
                        "label": "Tags",
                        "multiple": true
                    },
                    {
                        "name": "status",
                        "type": "select",
                        "label": "Status"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "urgent",
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "due_date",
                        "type": "date",
                        "label": "Due Date"
                    },
                    {
                        "name": "due_date_time",
                        "type": "boolean",
                        "label": "Due Date Time",
                        "required": true
                    },
                    {
                        "name": "time_estimate_in",
                        "type": "select",
                        "label": "Estimated Time in",
                        "validate": {
                            "enum": [
                                "m",
                                "h",
                                "d"
                            ]
                        }
                    },
                    {
                        "name": "start_date",
                        "type": "date",
                        "label": "Start Date"
                    },
                    {
                        "name": "start_date_time",
                        "type": "boolean",
                        "label": "Start Date Time",
                        "required": true
                    },
                    {
                        "name": "notify_all",
                        "type": "boolean",
                        "label": "Notify All",
                        "required": true
                    },
                    {
                        "name": "custom_fields",
                        "spec": [
                            {
                                "name": "0119caf9-a0f0-4ecb-a707-9fd95945e652",
                                "type": "text",
                                "label": "Url site"
                            },
                            {
                                "name": "0bcea456-6141-4c54-b7ad-fe40c8b8e540",
                                "type": "email",
                                "label": "Contact Email"
                            },
                            {
                                "name": "71ebdeb3-c496-4f22-958c-27cef4e4a9c5",
                                "type": "date",
                                "label": "Date Created"
                            },
                            {
                                "name": "7ad9b363-c0c7-4ca3-b089-99f72afa5195",
                                "type": "number",
                                "label": "Phone Number"
                            },
                            {
                                "name": "c5a88efd-3a1e-42cc-bd41-518854491977",
                                "type": "text",
                                "label": "Form url"
                            },
                            {
                                "name": "d06970bb-6493-47f6-bea8-b93294eedf0f",
                                "type": "select",
                                "label": "Stage"
                            },
                            {
                                "name": "f6474b69-3f77-4bd4-a1ca-50b580041934",
                                "type": "text",
                                "label": "Dateupdated"
                            },
                            {
                                "name": "f9e804db-5a42-42b9-95cb-21cf9187af7a",
                                "type": "text",
                                "label": "Company"
                            }
                        ],
                        "type": "collection",
                        "label": "Custom Fields"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Task ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Task Name"
                    },
                    {
                        "name": "custom_id",
                        "type": "text",
                        "label": "Custom ID"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "text_content",
                        "type": "text",
                        "label": "Text Content"
                    },
                    {
                        "name": "status",
                        "spec": [
                            {
                                "name": "status",
                                "type": "text",
                                "label": "Status"
                            },
                            {
                                "name": "color",
                                "type": "color",
                                "label": "Color"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "orderindex",
                                "type": "number",
                                "label": "Order Index"
                            }
                        ],
                        "type": "collection",
                        "label": "Status"
                    },
                    {
                        "name": "orderindex",
                        "type": "text",
                        "label": "Order Index"
                    },
                    {
                        "name": "date_created",
                        "type": "date",
                        "label": "Date Created"
                    },
                    {
                        "name": "date_updated",
                        "type": "date",
                        "label": "Date Updated"
                    },
                    {
                        "name": "date_closed",
                        "type": "date",
                        "label": "Date Closed"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "creator",
                        "spec": [
                            {
                                "name": "id",
                                "type": "number",
                                "label": "User ID"
                            },
                            {
                                "name": "username",
                                "type": "text",
                                "label": "Username"
                            },
                            {
                                "name": "color",
                                "type": "color",
                                "label": "Color"
                            },
                            {
                                "name": "profilePicture",
                                "type": "text",
                                "label": "Profile Picture"
                            },
                            {
                                "name": "email",
                                "type": "text",
                                "label": "Email"
                            }
                        ],
                        "type": "collection",
                        "label": "Creator"
                    },
                    {
                        "name": "assignees",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "number",
                                    "label": "User ID"
                                },
                                {
                                    "name": "username",
                                    "type": "text",
                                    "label": "Username"
                                },
                                {
                                    "name": "color",
                                    "type": "color",
                                    "label": "Color"
                                },
                                {
                                    "name": "initials",
                                    "type": "text",
                                    "label": "Initials"
                                },
                                {
                                    "name": "profilePicture",
                                    "type": "url",
                                    "label": "Profile Picture"
                                },
                                {
                                    "name": "email",
                                    "type": "email",
                                    "label": "Email"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Assignees"
                    },
                    {
                        "name": "checklists",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "task_id",
                                "type": "text",
                                "label": "Task ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "date_created",
                                "type": "date",
                                "label": "Date Created"
                            },
                            {
                                "name": "orderindex",
                                "type": "number",
                                "label": "Orderindex"
                            },
                            {
                                "name": "creator",
                                "type": "number",
                                "label": "Creator"
                            },
                            {
                                "name": "resolved",
                                "type": "number",
                                "label": "Resolved"
                            },
                            {
                                "name": "unresolved",
                                "type": "number",
                                "label": "Unresolved"
                            },
                            {
                                "name": "items",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "orderindex",
                                            "type": "number",
                                            "label": "Orderindex"
                                        },
                                        {
                                            "name": "assignee",
                                            "type": "text",
                                            "label": "Assignee"
                                        },
                                        {
                                            "name": "group_assignee",
                                            "type": "text",
                                            "label": "Group Assignee"
                                        },
                                        {
                                            "name": "resolved",
                                            "type": "boolean",
                                            "label": "Resolved"
                                        },
                                        {
                                            "name": "parent",
                                            "type": "text",
                                            "label": "Parent"
                                        },
                                        {
                                            "name": "date_created",
                                            "type": "date",
                                            "label": "Date Created"
                                        },
                                        {
                                            "name": "children",
                                            "type": "array",
                                            "label": "Children"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Items"
                            }
                        ],
                        "type": "array",
                        "label": "Checklists"
                    },
                    {
                        "name": "watchers",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "number",
                                    "label": "User ID"
                                },
                                {
                                    "name": "username",
                                    "type": "text",
                                    "label": "Username"
                                },
                                {
                                    "name": "color",
                                    "type": "color",
                                    "label": "Color"
                                },
                                {
                                    "name": "initials",
                                    "type": "text",
                                    "label": "Initials"
                                },
                                {
                                    "name": "profilePicture",
                                    "type": "url",
                                    "label": "Profile Picture"
                                },
                                {
                                    "name": "email",
                                    "type": "email",
                                    "label": "Email"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Watchers"
                    },
                    {
                        "name": "tags",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "creator",
                                    "type": "text",
                                    "label": "Creator"
                                },
                                {
                                    "name": "tag_fg",
                                    "type": "color",
                                    "label": "Tag Fg"
                                },
                                {
                                    "name": "tag_bg",
                                    "type": "color",
                                    "label": "Tag Bg"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "parent",
                        "type": "text",
                        "label": "Parent"
                    },
                    {
                        "name": "linked_tasks",
                        "spec": {
                            "spec": [
                                {
                                    "name": "task_id",
                                    "type": "text",
                                    "label": "Task ID"
                                },
                                {
                                    "name": "link_id",
                                    "type": "text",
                                    "label": "Link ID"
                                },
                                {
                                    "name": "date_created",
                                    "type": "date",
                                    "label": "Date Created"
                                },
                                {
                                    "name": "userid",
                                    "type": "text",
                                    "label": "User ID"
                                },
                                {
                                    "name": "workspace_id",
                                    "type": "text",
                                    "label": "Workspace ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Linked Tasks"
                    },
                    {
                        "name": "permission_level",
                        "type": "text",
                        "label": "Permission Level"
                    },
                    {
                        "name": "priority",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "priority",
                                "type": "text",
                                "label": "Priority"
                            },
                            {
                                "name": "color",
                                "type": "color",
                                "label": "Color"
                            },
                            {
                                "name": "orderindex",
                                "type": "text",
                                "label": "Order Index"
                            }
                        ],
                        "type": "collection",
                        "label": "Priority"
                    },
                    {
                        "name": "due_date",
                        "type": "date",
                        "label": "Due Date"
                    },
                    {
                        "name": "start_date",
                        "type": "date",
                        "label": "Start Date"
                    },
                    {
                        "name": "points",
                        "type": "text",
                        "label": "Points"
                    },
                    {
                        "name": "time_estimate",
                        "type": "integer",
                        "label": "Time Estimate (in minutes)"
                    },
                    {
                        "name": "time_spent",
                        "type": "uinteger",
                        "label": "Time Spent"
                    },
                    {
                        "name": "list",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "List ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "List Name"
                            },
                            {
                                "name": "access",
                                "type": "boolean",
                                "label": "Access"
                            }
                        ],
                        "type": "collection",
                        "label": "List"
                    },
                    {
                        "name": "project",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Project ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Project Name"
                            },
                            {
                                "name": "hidden",
                                "type": "boolean",
                                "label": "Hidden"
                            },
                            {
                                "name": "access",
                                "type": "boolean",
                                "label": "Access"
                            }
                        ],
                        "type": "collection",
                        "label": "Project"
                    },
                    {
                        "name": "folder",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Folder Name"
                            },
                            {
                                "name": "hidden",
                                "type": "boolean",
                                "label": "Hidden"
                            },
                            {
                                "name": "access",
                                "type": "boolean",
                                "label": "Access"
                            }
                        ],
                        "type": "collection",
                        "label": "Folder"
                    },
                    {
                        "name": "space",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Space ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Space"
                    },
                    {
                        "name": "dependencies",
                        "spec": {
                            "spec": [
                                {
                                    "name": "task_id",
                                    "type": "text",
                                    "label": "Task ID"
                                },
                                {
                                    "name": "depends_on",
                                    "type": "text",
                                    "label": "Depends On Task ID"
                                },
                                {
                                    "name": "type",
                                    "type": "number",
                                    "label": "Type"
                                },
                                {
                                    "name": "date_created",
                                    "type": "date",
                                    "label": "Date Created"
                                },
                                {
                                    "name": "userid",
                                    "type": "text",
                                    "label": "User ID"
                                },
                                {
                                    "name": "workspace_id",
                                    "type": "text",
                                    "label": "Workspace ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Dependencies"
                    },
                    {
                        "name": "team_id",
                        "type": "text",
                        "label": "Workspace ID"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "custom_fields_original",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "type_config",
                                    "spec": [],
                                    "type": "collection",
                                    "label": "Type Config"
                                },
                                {
                                    "name": "date_created",
                                    "type": "date",
                                    "label": "Date Created"
                                },
                                {
                                    "name": "hide_from_guests",
                                    "type": "boolean",
                                    "label": "Hide From Guests"
                                },
                                {
                                    "name": "value",
                                    "type": "any",
                                    "label": "Value"
                                },
                                {
                                    "name": "required",
                                    "type": "boolean",
                                    "label": "Required"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Custom Fields (original)"
                    },
                    {
                        "name": "custom_fields",
                        "spec": [
                            {
                                "name": "Url site",
                                "type": "text",
                                "label": "Url site"
                            },
                            {
                                "name": "Contact Email",
                                "type": "text",
                                "label": "Contact Email"
                            },
                            {
                                "name": "Date Created",
                                "type": "date",
                                "label": "Date Created"
                            },
                            {
                                "name": "Phone Number",
                                "type": "number",
                                "label": "Phone Number"
                            },
                            {
                                "name": "Form url",
                                "type": "text",
                                "label": "Form url"
                            },
                            {
                                "name": "Stage",
                                "type": "number",
                                "label": "Stage"
                            },
                            {
                                "name": "Dateupdated",
                                "type": "any",
                                "label": "Dateupdated"
                            },
                            {
                                "name": "Company",
                                "type": "any",
                                "label": "Company"
                            }
                        ],
                        "type": "collection",
                        "label": "Custom Fields"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "5"
            },
            "metadata": {
                "designer": {
                    "x": 246,
                    "y": -12
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "account": 3441542,
                "saveAfterSent": false
            },
            "mapper": {
                "cc": [],
                "to": [
                    "{{1.mappable_answers.`bd5d1091-a5a5-4466-8db7-c0e25abaf05b`}}"
                ],
                "bcc": [],
                "from": "",
                "html": "Hi {{1.mappable_answers.`476f0bf1-ed79-4708-b785-b088e4af1552`}}\n,\n<br><br>\nI had a chance to look over your submission and i will love to hope on a quick 30 minutes call with you,just select a time slot which suits you and we can get the ball rolling.\n<br><br>\nhttps://cal.com/maigida-rimam-victor-ohunh8\n<br><br>\nCheers,Communicated with you soon!\n",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "Meeting Invitation",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "html"
            },
            "metadata": {
                "designer": {
                    "x": 546,
                    "y": -12
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "priority": {
                            "label": "Normal"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "HTML"
                        }
                    },
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (rims231@gmail.com)"
                        },
                        "saveAfterSent": {
                            "label": "No"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient"
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Reference",
                            "required": true
                        },
                        "type": "array",
                        "label": "References"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}
